# LAB 2 : Data Preprocessing Tools

In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Import dataset

In [3]:
# import dataset
dataset = pd.read_csv('titanic_dataset preprocess.csv')

## EDA Steps

In [4]:
dataset.head()

      sex  pclass   age  survived
0    male       3  22.0         0
1    male       3  35.0         0
2    male       3   NaN         0
3  female       3  14.0         0
4  female       2  55.0         1

In [5]:
# Dimension of data
dataset.shape

(65, 4)

In [6]:
# Attributes of dataset
dataset.columns

Index(['sex', 'pclass', 'age', 'survived'], dtype='object')

In [7]:
# info of dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       65 non-null     object
 1   pclass    65 non-null     int64
 2   age       42 non-null     float64
 3   survived  65 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.2+ KB

In [8]:
# descriptive statastics for numerical features
dataset.describe()

          pclass        age   survived
count  65.000000  42.000000  65.000000
mean    2.430769  28.186429   0.369231
std     0.828576  16.937294   0.486352
min     1.000000   0.830000   0.000000
25%     2.000000  19.000000   0.000000
50%     3.000000  26.000000   0.000000
75%     3.000000  34.500000   1.000000
max     3.000000  71.000000   1.000000

In [9]:
# descriptive statastics for categorical features
dataset.describe(include= 'object')

         sex
count     65
unique     2
top     male
freq      43

## Preprocessing Steps

### Step 1 : Divide dataframe into independent variable/input and dependent / output Featutres

In [10]:
# Selecting data using iloc based on integer positions
X = data_set.iloc [ : , : -1 ]
Y = data_set.iloc [ : , -1]

### Step 2: Handle the missing values in Dataset

In [13]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan,
                       strategy = 'mean')
imputer.fit(X[['age']])
X[['age']] = imputer.transform(X[['age']])

In [14]:
print(X)

       sex  pclass        age
0     male       3  22.000000
1     male       3  35.000000
2     male       3  28.186429
3   female       3  14.000000
4   female       2  55.000000
..     ...     ...        ...
60    male       3  28.186429
61    male       1  71.000000
62    male       1  23.000000
63    male       3  28.186429
64    male       1  21.000000

[65 rows x 3 columns]

### Step 3 : Encoding categorical data

In [15]:
dataset['sex'].value_counts()

sex
male      43
female    22
Name: count, dtype: int64

**A. Encoding the Independent Variable (i/p feature/X)**

In [26]:
from sklearn.preprocessing import LabelEncoder

# Assuming 'sex' is the name of the column in your DataFrame X
label_encoder = LabelEncoder()
X['sex'] = label_encoder.fit_transform(X['sex'])

In [32]:
print(X)

    sex  pclass        age
0     1       3  22.000000
1     1       3  35.000000
2     1       3  28.186429
3     0       3  14.000000
4     0       2  55.000000
..  ...     ...        ...
60    1       3  28.186429
61    1       1  71.000000
62    1       1  23.000000
63    1       3  28.186429
64    1       1  21.000000

[65 rows x 3 columns]

### Step 4 : Splitting Data into Training and Testing

In [28]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,
                                        test_size = 0.3,
                                    random_state =1)

### Step 5 : Feature Scaling

In [37]:
from sklearn.preprocessing import StandardScaler

# Assuming 'sex', 'pclass', and 'age' are the columns in your DataFrame
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X[['sex', 'pclass', 'age']])

# Replace the original columns with the scaled values
X[['sex', 'pclass', 'age']] = X_scaled